/*.stlucia{
  height: 400px;
  width: 200%;
  margin: 0px;
  background-image: url(../Images/st\ Lucia.jpg);
}*/

#stlucia {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  opacity: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Images/st\ Lucia.jpg);
  background-position: center;
  background-color: white;
}


.emoji { 
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #000000;
  position: relative;

}


.head {
  display: block;
  color: black;
  text-align: flex;
  flex: wrap;
  align-items: center;
  text-overflow: ellipsis;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
header {
  height: 400px;
}

.head h1 {
  font-size: 100px;
  position: absolute;
  left: 300px; top: -20px;

}

h2{
  font-size: 60px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
}
h3{
  font-size: 40px;
  position: relative;
  margin: 10px;
}

.menu {
    list-style-type: none;
    margin: 8px;
    padding: 10px;
    font-size: 30px;
    justify-content: space-between;
    text-align: center;
    
  }
  
  li {
    padding: 10px;
    display: inline;
    
    
  }

/*body {
  display: flex;
  flex-wrap: wrap;
  margin:0;
}*/

p {
  font-size: 20px;
  font-family: cursive;
  color:#000000;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 150px;
  

}
nav {
  text-align: end;
  position: relative;
   bottom: -200px;
  background-color: rgb(178, 217, 188);
  height: 70px;
  border-style: solid;
  border-width: 2px;
}

.container {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;

}

.images {
  width:250px;
  height: 350px;
  margin: 20px;
  border-radius: 20px
}
.about-me{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
main{
  background-color: rgb(249, 249, 156);
  background-size: cover;
}
